<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 style="text-align: center">Welcome to the Landing Page</h1>
    <ul>
        <br>
        <li><a href="{{ url_for('index') }}">Task Master Project</a></li>
        <br>
        <li><a href="#">Final Project (Coming Soon may be next month)</a></li>
    </ul>
</body>
</html>